@import "./fonts.scss";


* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font: normal normal 400 16px Satoshi-Regular;
  line-height: 28px;
  position: relative;
  background: #FFFFFF;
}

