<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="title" content="Women Maker Celebration" />
    <meta name="description" content="" />
    <meta
      name="keywords"
      content="conference, technology,hardware, software, kochi, kerala, tinkerhub "
    />

    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="revisit-after" content="60 days" />
    <meta name="author" content="Rohit T P" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://wmc.tinkerhub.org/" />
    <meta property="og:title" content="Women Maker Celebration" />
    <meta
      property="og:description"
      content="Women Maker Celebration is a two-day ,un-conference style gathering of women around technology."
    />
    <meta
      property="og:image"
      content="https://rohittp.imgix.net/index/hero-background.webp"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://witc.tinkerhub.org/" />
    <meta property="twitter:title" content="Women Maker Celebration" />
    <meta property="twitter:description" content="Women Maker Celebration" />
    <meta
      property="twitter:image"
      content="https://rohittp.imgix.net/index/hero-background.webp"
    />

    <title>WIT Conference</title>
  </head>
  <body>
    <section class="hero overflow-hidden relative hidden">
      <div class="boot-animation absolute w-full h-full bg-black">
        <canvas
          id="boot-animation"
          class="hidden lg:block w-full h-full"
        ></canvas>
        <div
          class="lg:hidden w-full h-full flex justify-evenly items-center flex-col"
        >
          <p class="text-white text-2xl">Women<br />Maker<br />Celebration</p>
          <div id="ar-container"></div>
        </div>
      </div>
      <nav class="navbar justify-evenly items-center p-5 boot-fade flex">
        <div class="flex justify-center items-center gap-2">
          <img src="/img/hero/logo.png" alt="logo" class="h-10 invert" />
          <p class="text-2xl text-white lg:hidden">Women In Tech</p>
        </div>
        <div class="hidden lg:flex justify-evenly gap-5 font-mono text-lg">
          <a href="#register" class="text-white">Register</a>
          <a href="#about" class="text-white">About</a>
          <a href="#contact" class="text-white">Contact Us</a>
        </div>
      </nav>
    </section>

    <section id="register" class="womenmakerscelebration font-sans">
        <header class="flex  lg:justify-start items-center px-5 lg:px-32 py-4 fixed w-full">
          <div class="lg:w-1/2 flex items-center justify-center">
            <img class="w-20" src="/img/womenmakerscelebration/womenintechLogo.png">
          </div>
          <div class="space-x-4 font-semibold font-sans hidden lg:block">
            <a>About us</a>
            <a>Contact Us</a>
            <a>Schedule</a>
          </div>
        </header>
        <div class="w-full  h-screen    lg:flex">
          <div class="lg:w-7/12 px-5 lg:px-32 py-32 lg:py-52">
            <div class="max-w-full  pr-">
              <h1 class="lg:text-5xl text-3xl font-bold font-sans ">Women Makers Celebration 
                by TinkerHub</h1>
              <p class="lg:text-base text-sm text-[#666666] mt-8">Join us for the Women Makers Celebration by TinkerHub, a premier 2-day event on March 22nd and 23rd, dedicated to empowering, inspiring, and connecting women in technology. From engaging workshops to insightful panels, networking opportunities, and celebrating the success of Tink-Her-Hack, this event is designed for women at every stage of their tech journey. Dive into innovation, career development, and community with us!</p>
              <div class="flex space-x-1 lg:space-x-8 mt-8">
                <div class="flex items-center space-x-1">
                  <img class="w-10 h-10 " src="/img//womenmakerscelebration/Date range.png">
                  <p class="mb-2 text-sm font-semibold">23 March 2024</p>
                </div>
                <div class="flex items-center space-x-1">
                  <img class="w-8 h-8 " src="/img/womenmakerscelebration/venue.png">
                  <p class="mb-1 text-sm font-semibold">Kerala Startup Mission Kochi</p>
                </div>
              </div>
              <p class="text-sm font-semibold lg:mt-3 mt-8 ">Registration open for march 23rd</p>
              <p class="text-xs text-[#666666]">Note : Due to limited space, registration is subject to a shortlisting process.</p>
              <div class="bg-[#FF5237] hover:scale-110 transition-transform  border border-white w-fit text-sm text-white px-5 rounded-md mt-8 py-2  shadow-[5px_5px_0px_0px_rgba(109,40,217)]">
               <a href="https://www.tinkerhub.org/tink-her-hack#id-f65c24c82119">Learn More about Tink-Her-Hack</a> 
              </div>
            </div>

          </div>
          <div class="w-5/12 bg-[#FFF6F5] py-52 hidden lg:block">
              <div class="w-9/12 mt-5 -ml-20">
                <img src="/img/womenmakerscelebration/RegistartionBg.png">
              </div>
          </div>
        </div>
    </section>

  </body>
</html>
