<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="title" content="WIT-Conference">
    <meta name="description"
          content="">
    <meta name="keywords"
          content="conference, technology,hardware, software, kochi, kerala, tinkerhub ">

    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="60 days">
    <meta name="author" content="Rohit T P">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://witc.tinkerhub.org/">
    <meta property="og:title" content="WIT-Conference">
    <meta property="og:description"
          content="WIT Conference is a two-day ,un-conference style gathering of women around technology.">
    <meta property="og:image"
          content="https://rohittp.imgix.net/index/hero-background.webp">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://witc.tinkerhub.org/">
    <meta property="twitter:title" content="WIT-Conference">
    <meta property="twitter:description"
          content="WIT-Conference">
    <meta property="twitter:image"
          content="https://rohittp.imgix.net/index/hero-background.webp">

    <link rel="preload" href="/font/clash-display/ClashDisplay-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/font/satoshi/Satoshi-Regular.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="/css/index.css">

    <script src="https://cdn.tailwindcss.com"></script>

    <title>WIT Conference</title>

</head>
<body>

<section class="hero">
</section>

<section class="about">
</section>

<section class="agenda">
</section>

<section class="schedule">
</section>

<section class="callforspeakers">
</section>

<section class="volunteers">
</section>

<section class="footer">
</section>


</body>
</html>
