<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="title" content="Make-A-Ton">
    <meta name="description"
          content="Make-A-Ton is a yearly hackathon conducted by CITTIC CUSAT">
    <meta name="keywords"
          content="hackathon, technology,hardware, software, kochi, kerala, cusat">

    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="60 days">
    <meta name="author" content="Rohit T P">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://makeaton.org/">
    <meta property="og:title" content="Make-A-Ton 6.0">
    <meta property="og:description"
          content="Make-A-Ton is a yearly hackathon conducted by CITTIC CUSAT">
    <meta property="og:image"
          content="https://rohittp.imgix.net/index/hero-background.webp">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://makeaton.org/">
    <meta property="twitter:title" content="onal Festival, Near Bangalore">
    <meta property="twitter:description"
          content="Make-A-Ton 6.0">
    <meta property="twitter:image"
          content="https://rohittp.imgix.net/index/hero-background.webp">

    <link rel="preload" href="/font/clash-display/ClashDisplay-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/font/satoshi/Satoshi-Regular.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="/css/index.css">

    <script src="https://cdn.tailwindcss.com"></script>

    <title>Make-A-Ton 6.0</title>

</head>
<body>

<section class="hero">
</section>

<section class="about">
</section>

<section class="prizes">
</section>

<section class="schedule">
</section>

<section class="sponsors">
</section>

<section class="faq">
</section>

<section class="join">
</section>

<section class="contact">
</section>

</body>
</html>
